<div class="container">
  <div class="row mt-2 mx-2 justify-content-end">
    <button class="btn btn-primary col-1" (click)="openNewUserDialog()">
      + New
    </button>
  </div>
  <hr />
  <!-- {{ Users | json }} -->
  <div class="row mt-2">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Phone</th>
          <th scope="col">Email</th>
          <th scope="col">Action</th>

        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let user of Users; let i = index">
          <tr>
            <th scope="row">{{i+1}}</th>
            <td>{{user.name}}</td>
            <td>{{user.phone}}</td>
            <td>{{user.email}}</td>
            <td><i class="bi bi-archive mx-2" (click)="deleteUser(user._id)"></i><i class="bi bi-pencil-square mx-2"></i></td>

          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>
